################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DrivingVehicleLicenseDepartment/.vs/DrivingVehicleLicenseDepartment
/DrivingVehicleLicenseDepartment/DrivingVehicleLicenseDepartmentDataAccessLayer/clsDataAccessSettings.cs
